<% if @customer.is_deleted == true %>
 <h2 class="mx-5"><%= @customer.name %>さんの会員詳細</h2>
 <div class="m-5"><h3>凍結済みのアカウントです</h3></div>
<% else %>
 <h2 class="mx-5"><%= @customer.name %>さんの会員詳細</h2>
 <div class="px-5">
  <div class="flex">
 　<div class="">会員ID：<%= @customer.id %></div>
  </div>
  <div class="flex">
 　<div class="">氏名：<%= @customer.name %></div>
  </div>
  <div class="flex">
 　<div class="">メールアドレス：<%= @customer.email %></div>
  </div>
  <div class="pt-2">
   <% if @customer == current_customer %>
    <%= link_to "会員情報を編集する", edit_customer_path(@customer.id), class: 'btn btn-success' %>
   <% end %>
  </div>
 </div>

 <div class="m-5">
  <h2><%= @customer.name %>さんの投稿一覧</h2>
  <h5>(全投稿<%= @customer.items.count %>件)</h5>
 </div>

  <div class="flex item-width">
   <%= render 'public/shared/item_temp', item: @items %>
  </div>
  <div class="item-pagi"><%= paginate @items %></div>
 <% end %>