<div class="m-5">
<div class="flex">
 <div class="">
  <% if @item.image.attached? %>
   <%= image_tag @item.image, size: "450x300" %>
  <% else %>
   <%= image_tag 'no_image', size: "450x300" %>
  <% end %>
 </div>
 <div class="">
  <h4 class="">投稿名：<strong><%= @item.name %></strong></h4>
  <h5>投稿説明：<%= @item.introduction %></h5>
  <h5>ジャンル名：<%= @item.genre.name %></h5>
  <h5>日付：<%= @item.created_at.strftime('%Y/%m/%d') %></h5>
  <h5>投稿者名：<%= @item.customer.name %></h5>
  <div><%= link_to "投稿を削除する", admin_item_path(@item), method: :delete, class: 'btn btn-sm btn-danger' %></div>
 </div>
</div>

<div class="flex align-items-center mb-3">
 ♥<%= @item.favorites.count %> いいね
</div>

  <div>コメント件数：<%= @item.comments.count %></div>
  <div class="flex comment-width">
   <% @comments.each do |comment| %>
    <div class="p-2 comment">
     <div>投稿者：<%= comment.customer.name %></div>
     <div class="">コメント：<%= comment.comment %></div>
     <div>
      日付：<%= comment.created_at.strftime('%Y/%m/%d') %>
      <%= link_to "コメント削除", item_comment_path(comment.item, comment), method: :delete, class: "btn btn-danger" %>
     </div>
    </div>
   <% end %>
  </div>
  <div class="comment-pagi"><%= paginate @comments %></div>