<div class="m-5">
 <h2>管理者ログイン</h2>

 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <div class="field">
    <div><%= f.label :email, "メールアドレス", class: "" %></div>
    <div><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
   </div>

   <div class="field">
    <div><%= f.label :password, "パスワード", class: "" %></div>
    <div><%= f.password_field :password, autocomplete: "current-password" %></div>
   </div>

   <div class="actions my-3">
     <%= f.submit "ログイン", class:"btn btn-primary" %>
   </div>
 <% end %>
</div>
