<div class="">
 <h2 class="ml-5">検索結果</h2>
  <% if @range == "Customer" %>
    <div>
      <h5 class="ml-5">(全会員<%= @customer.count %>件)</h5>
      <% @customers.each do |customer| %>
        <div class="px-5 py-2">
          <h3><%= link_to customer.name, customer_path(customer.id) %></h3>
        </div>
      <% end %>
      <div class="customer-pagi"><%= paginate @customers %></div>
    </div>
  <% else %>
    <h5 class="ml-5">(全投稿<%= @item.count %>件)</h5>
     <div class="flex item-width">
      <%= render 'public/shared/item_temp', item: @items %>
     </div>
     <div class="item-pagi"><%= paginate @items %></div>
  <% end %>
</div>