<p id="notice"></p>
<% if @genre.errors.any? %>
 <div id="error_explanation">
  <ul style="color: red">
   <h3 class="mt-5 ml-5"><%= @genre.errors.count %> error prphibited this obj from being saced:</h3>
   <% @genre.errors.full_messages.each do |message| %>
    <li class="mt-3 ml-5"><%= message %></li>
   <% end %>
  </ul>
 </div>
<% end %>

<div class="ml-5">
 <h3 class="">ジャンル編集</h3>
</div>

  <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
   <div class="ml-5">
    <div class="flex my-2 align-items-center">
     <div class=""><%= f.label :name, "ジャンル名" %></div>
     <div class="mx-2"><%= f.text_field :name %></div>
     <div class="mx-2"><%= f.submit '変更を保存', class: 'btn btn-success' %></div>
    </div>
   </div>
  <% end %>