<p id="notice"></p>
<% if @genre.errors.any? %>
 <div id="error_explanation">
  <ul style="color: red">
   <h3 class="mt-5 ml-5"><%= @genre.errors.count %> error prphibited this obj from being saced:</h3>
   <% @genre.errors.full_messages.each do |message| %>
    <li class="mt-3 ml-5"><%= message %></li>
   <% end %>
  </ul>
 </div>
<% end %>
<div class="genres">
 <h3 class="">ジャンル一覧・追加</h3>
</div>

<%= form_with model: @genre, url: admin_genres_path do |f| %>
 <div class="genres-new">
  <div class="">
   <div class=""><%= f.label :name, "ジャンル名" %></div>
   <div class=""><%= f.text_field :name %></div>
   <div class=""><%= f.submit '新規登録', class: '' %></div>
  </div>
 </div>
<% end %>

<div>
 <table class="genres-index">
  <thead>
   <tr>
    <th class="genres-th px-5 py-3 bg-light border-top border-bottom">ジャンル</th>
   </tr>
  </thead>
  <tbody class="">
   <% @genres.each do |genre| %>
    <tr>
     <td class="d-flex px-5 py-3 border-bottom align-items-center">
      <div class="genres-td"><%= genre.name %></div>
      <div class="genres-link mb-auto"><%= link_to "編集する", edit_admin_genre_path(genre.id), class: 'btn btn-success' %></div>
     </td>
    </tr>
   <% end %>
  </tbody>
 </table>
 <div class="">
  <%= paginate @genres %>
 </div>