<div class="m-5">
 <h2>新規登録</h2>

 <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div>
   <%= render "public/shared/error_messages", resource: resource %>
   <div class="field">
    <div><%= f.label :name, "名前", class: "" %></div>
    <div><%= f.text_field :name, autofocus: true, autocomplete: "name" %></div>
   </div>

   <div class="field">
    <div><%= f.label :email, "メールアドレス", class: "" %></div>
    <div><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
   </div>

   <div class="field">
    <div><%= f.label :password, "パスワード(6字以上)", class: "" %></div>
    <div><%= f.password_field :password, autocomplete: "new-password" %></div>
   </div>

   <div class="field">
    <div><%= f.label :password_confirmation, "パスワード(確認用再入力)", class: "" %></div>
    <div><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
   </div>

   <div class="actions py-3">
    <%= f.submit "新規登録", class: "btn btn-success" %>
   </div>
  </div>
 <% end %>

 <%= render "public/shared/links" %>
</div>
