<% item.each do |item| %>
 <div class="px-5 item">
  <div class="">
   <% if item.image.attached? %>
    <%= image_tag item.image, size: "200x150" %>
   <% else %>
    <%= image_tag asset_path('no_image.jpg'), size: "200x150" %>
   <% end %>
  </div>
  <div class="">投稿者：<%= link_to item.customer.name, admin_customer_path(item.customer.id) %></div>
  <div class="">投稿名：<%= link_to item.name, admin_item_path(item.id) %></div>
  <div class="">ジャンル：<%= item.genre.name %></div>
  <div class="">♥<%= item.favorites.count %> いいね</div>
  <div><%= link_to "#{item.comments.count} コメント", admin_item_path(item.id) %></div>
 </div>
<% end %>