<p id="notice"></p>
<% if @item.errors.any? %>
 <div id="error_explanation">
  <ul style="color: red">
   <h3 class="mt-5 ml-5"><%= @item.errors.count %> error prphibited this obj from being saced:</h3>
   <% @item.errors.full_messages.each do |message| %>
    <li class="mt-3 ml-5"><%= message %></li>
   <% end %>
  </ul>
 </div>
<% end %>

<div class="m-5">
 <h3 class="">新規投稿</h3>
 <%= form_with model: @item,url: items_path do |f| %>
  <div class="">
   <div class="my-2">
    <div><%= f.label :image , "投稿画像", class: "" %></div>
    <div><%= f.file_field :image, accept: "image/*" , class: ""%></div>
   </div>

   <div class="my-4">
    <div><%= f.label :name , "投稿見出し", class: "" %></div>
    <div><%= f.text_field :name, class: "" %></div>
   </div>

   <div class="my-4">
    <div><%= f.label :introduction , "投稿説明", class: "" %></div>
    <div><%= f.text_area :introduction, class: "" %></div>
   </div>

   <div class="my-4">
    <div><%= f.label :genre_id , "ジャンル", class: "" %></div>
    <div><%= f.collection_select :genre_id, @genre, :id, :name, options = { include_blank:'--選択してください--', required: true}, class: "" %></div>
   </div>

   <div class="my-4">
    <%= f.submit '新規投稿', class: "btn btn-primary" %>
   </div>
  </div>
 <% end %>
</div>